openai
flask
flask[async]
flask-cors
autogen
autogen-agentchat==0.4.5
autogen-agentchat[gemini,retrievechat,lmm]
autogen-ext[openai]==0.4.5
google-genai
vertexai
ag2[gemini]
langgraph
langchain
langchain-core

langchain-openai
fastapi[standard]
scikit-learn
networkx
transformers
torch
hdbscan
bertopic
umap