openai
flask
flask[async]
flask-cors
autogen==0.7.5
autogen-agentchat==0.4.7
autogen-agentchat[gemini,retrievechat,lmm]==0.4.7
autogen-ext[openai]==0.4.7
autogen-ext[semantic-kernel-anthropic]
google-generativeai
google-genai
google-generativeai
vertexai
ag2[gemini]
langgraph
langchain
langchain-core
treelib


langchain-openai
fastapi[standard]
scikit-learn
networkx
transformers
torch
hdbscan
bertopic
umap-learn
sentence_transformers
matplotlib
seaborn
nltk